@import 'variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: $radius-md;
  padding: 17px 11px;
  font-size: $font-base;
  user-select: none;
  white-space: nowrap;

  &:disabled {
    filter: brightness(70%);
    pointer-events: none;
  }
}

.base {
  border: none;
  background-color: $color-primary;
  color: white;

  &:hover {
    filter: brightness(0.9);
  }
}

.outlined {
  padding: 16px 10px;
  border: 1px solid $color-primary;
  background-color: transparent;
  color: $color-primary;

  &:hover {
    filter: brightness(0.9);
    background-color: $color-primary;
    color: white;
  }
}

.loading {
  pointer-events: none;

  >span {
    visibility: hidden;
  }
}

.spinner {
  position: absolute;
}

.link {
  width: 100%;
  height: 100%;
}

:global(.dark) {
  .base {
    background-color: $color-primary-dark;
  }

  .outlined {
    border-color: $color-primary-dark;
    color: $color-primary-dark;

    &:hover {
      filter: brightness(0.9);
      background-color: $color-primary-dark;
      color: white;
    }
  }
}
