@import 'variables';

.header {
  margin-bottom: 0.5rem;
  color: $color-primary;
  font-weight: bold;
  font-size: $font-lg;

  > *:first-child {
    margin-right: 0.5rem;
  }
}

.content {
  font-weight: 500;

  > * {
    margin-bottom: 0.4rem;
  }
}

.contents {
  margin-bottom: 2rem;
}

:global(.dark) {
  .header {
    color: $color-primary-dark;
  }
}
