.empty {
  margin-top: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;
}

.detail {
  width: 70vw;
  min-width: 20rem;
  max-width: 40rem;
}
