@import 'variables';

.navbar {
  display: flex;
  margin: 0 1rem;
  font-size: $font-lg;

  > * {
    padding: 0 0.6rem;
  }
}

@media (max-width: 980px) {
  .navbar {
    position: absolute;
    top: 5rem;
    right: 1rem;
    flex-direction: column;
    z-index: 10;
    border: 1px solid $border;
    border-radius: 10px;
    background-color: white;
    padding: 0.8rem 1rem;
    font-size: $font-base;
    text-align: center;

    > * {
      padding: 0.1rem 0;
    }
  }

  :global(.dark) {
    .navbar {
      border-color: $border-dark-gray;
      background-color: $background-sub-dark;
    }
  }
}
