@import 'variables';

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid $border;
  border-radius: $radius-md;
  background-color: white;
  width: 16rem;
  height: 3rem;
  user-select: none;

  &:hover {
    filter: brightness(95%);
  }

  &:disabled {
    filter: brightness(100%);
    cursor: wait;
  }
}

.icon {
  margin-right: 0.5rem;
  font-size: $font-3xl;
}

:global(.dark) {
  .login-button {
    background-color: #dcdcdc;
    color: $text;

    &:hover {
      border-color: $border-dark-gray;
    }
  }
}
