@import 'variables';

.text-area {
  outline-color: $color-primary;
  border: 1px solid $border;
  border-radius: $radius-md;
  padding: 0.5rem 1rem;
  resize: none;
  font-size: $font-base;
}

:global(.dark) {
  .text-area {
    border-color: $border-dark-gray;

    &:focus {
      outline-color: $color-primary-dark;
    }
  }
}
