@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $radius-md;
  padding: 0.6rem 1rem;
}

.contents {
  margin-bottom: 1rem;

  > *:not(:last-child) {
    margin-bottom: 0.6rem;
  }
}

.content {
  display: flex;
  > *:nth-child(2) {
    position: absolute;
    left: 9rem;
  }
}

.label {
  container: $color-primary;
  color: $color-primary;
  font-weight: bold;
  font-size: $font-lg;
}

.controls {
  > * {
    width: 100%;
  }

  > *:not(:last-child) {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
  }
}

:global(.dark) {
  .container {
    border-color: $border-dark-gray;
  }

  .label {
    color: $color-primary-dark;
  }
}
