.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  > *:first-child {
    margin-bottom: 0.4rem;
  }
}

.top {
  display: flex;
  align-items: center;

  > *:first-child {
    margin-right: 1.2rem;
  }
}
