.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  min-height: 15rem;
  max-height: 80vh;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;

  > *:first-child {
    margin-right: 1rem;
  }
}
