@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  > *:first-child {
    margin-bottom: 2rem;
  }
}

.message {
  color: $color-primary;
  font-weight: bold;
  font-size: $font-xl;
}

:global(.dark) {
  .message {
    color: $color-primary-dark;
  }
}
