@import 'variables';

.editor {
  border: 1px solid $border;
  height: 23rem;
}

.controls {
  margin-top: 1rem;
  width: 100%;

  > *:first-child {
    margin-bottom: 0.5rem;
  }

  button {
    width: 100%;
  }
}

:global(.dark) {
  .editor {
    border-color: $border-dark-gray;
  }
}
