@import 'variables';

.container {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: $color-primary;
  font-size: $font-base;
}

:global(.dark) {
  .link {
    color: $color-primary-dark;
  }
}
