@import 'variables';

.navbar-item {
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $color-primary;
  }
}

.active {
  color: $color-primary;
  font-weight: bold;
}

:global(.dark) {
  .navbar-item {
    &:hover {
      color: $color-primary-dark;
    }
  }

  .active {
    color: $color-primary-dark;
  }
}
