.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 40rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  > div {
    display: flex;
    align-items: center;

    > *:first-child {
      margin-right: 1rem;
    }
  }
}
