$breakpoint-desktop: 1024px;

// colors
$text: #434343;
$text-dark: #cacaca;
$background: #fbfbfb;
$background-dark: #2b2b2b;
$background-sub: #ffffff;
$background-sub-dark: #282c34;
$border: #d5d5d5;
$border-dark-gray: #797979;
$border-dark-indigo: #374151;

$color-primary: #5c76d1;
$color-primary-dark: #667094;

// font sizes
$font-base: 1rem;
$font-lg: 1.2rem;
$font-xl: 1.4rem;
$font-2xl: 1.6rem;
$font-3xl: 2rem;

// radius
$radius-md: 10px;
