@import 'variables';

* {
  box-sizing: border-box;
}

html {
  background-color: $background;
  color: $text;
  font-size: $font-base;
}

body {
  margin: 0;
  min-width: 390px;
}

.dark {
  background-color: $background-dark;
  color: $text-dark;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

.mjx-copytext {
  display: none;
}
