.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.contents {
  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 0 20px;
  max-width: 40rem;
  max-height: 25rem;
  overflow-y: scroll;
}

.contents::-webkit-scrollbar {
  width: 6px;
}

.contents::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #989898;
}

.list {
  list-style: disc;

  a {
    color: #0000b9;
    font-weight: bold;
  }
}

.date {
  font-size: 1.3rem;
}

:global(.dark) {
  .list {
    a {
      color: #6a6aee;
    }
  }
}
